<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: monospace;
        }
    </style>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="display:flex; justify-content: center; align-items: center;">SunSend a simple and fast message board</h1>
    <hr><br>
    <h3>This is the root Route of your API, if you wanna change it just edit the templates/main.html file</h3>
    <h3>If you wanna config the API with custom values, edit the Config/config.conf file</h3>
    <h3>You can access the API form https://your_doamin_address.com:<port>/api/v1/go</h3>
    <h3>There is a build-in client version for SunSend, you can get it from https://github.com/ashk123/SunSend-client</h3>
    <h3>For setup the API goto the doc/setup.md</h3>
</body>
</html>